@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");
html {
  font-family: "Ubuntu", sans-serif;
}

html,
body {
  margin: 0px;
  padding: 0px;
}

div button {
  font-family: "Ubuntu";
  width: 150px;
  height: 35px;
  background-color: #00000000;
  -webkit-filter: drop-shadow(4px 4px 2px #bbbaff7f);
          filter: drop-shadow(4px 4px 2px #bbbaff7f);
  border: 2px solid #000000;
  border-radius: 4px;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
}

div button:hover, div button:active {
  -webkit-filter: drop-shadow(4px 4px 2px #bbbaff7f);
          filter: drop-shadow(4px 4px 2px #bbbaff7f);
  background-color: #00000020;
  border: 2px solid #000000;
  border-radius: 8px;
}

div button:active {
  color: #666666;
}

#server-bar {
  height: 40px;
  width: 100vw;
}

#server-bar button {
  margin: 5px;
}

#side-bar {
  position: fixed;
  right: 0;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#side-bar * {
  width: 40px;
  margin: 2.5px;
  border-right: none;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

#message-bar {
  margin: 0;
  -webkit-box-flex: 0;
      -ms-flex: 0;
          flex: 0;
  position: fixed;
  z-index: 2;
  bottom: 0;
  height: 40px;
  width: 100%;
  padding: 2.5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#message-bar input {
  height: 35px;
  background-color: #00000000;
  border: 2px solid #000000;
  margin-left: 5px;
}

#message-bar input[type="text"] {
  font-family: "Ubuntu";
  margin: 0;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 35px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  vertical-align: middle;
  border-radius: 4px;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
}

#message-bar input[type="text"]:focus {
  background-color: #00000020;
  border-radius: 6px;
}

#message-bar input[type="submit"] {
  vertical-align: middle;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
}

#message-bar input[type="submit"]:hover {
  border-radius: 8px;
}

#message-bar input[type="submit"]:active {
  background-color: #00000040;
  border: 2px solid #000000;
}

.message {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #00000000;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 97%;
  margin: 5px;
  margin-top: 2.5px;
  border: 2px solid #000000;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
}

.message p {
  font-weight: bold;
}

.message .message-meta {
  font-size: small;
  float: right;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.message .message-content {
  padding: 5px;
  word-break: break-all;
  word-wrap: break-word;
}
/*# sourceMappingURL=index.css.map */