@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");

$secondary-color: #bbbaff7f;

html {
    font-family: "Ubuntu", sans-serif;
}

html,
body {
    margin: 0px;
    padding: 0px;
}

div {
    button {
        font-family: "Ubuntu";
        width: 150px;
        height: 35px;
        background-color: #00000000;
        filter: drop-shadow(4px 4px 2px $secondary-color);

        border: 2px solid #000000;
        border-radius: 4px;
        transition: all 0.25s;
    }

    button:hover, button:active {
        filter: drop-shadow(4px 4px 2px $secondary-color);
        background-color: #00000020;
        border: 2px solid #000000;
        border-radius: 8px;
    }

    button:active {
        color: #666666;
    }
}

#server-bar
{
    height: 40px;
    width: 100vw;
    button
    {
        margin: 5px;
    }
}

#side-bar {
    position: fixed;
    right: 0;
    height: 100%;

    display: flex;
    flex-direction: column;

    *
    {
        width: 40px;

        margin: 2.5px;
        border-right: none;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }
}

#message-bar {
    margin: 0;
    flex: 0;
    position: fixed;
    z-index: 2;

    bottom: 0;
    height: 40px;
    width: 100%;
    padding: 2.5px;
    box-sizing: border-box;

    display: flex;

    input
    {
        height: 35px;
        background-color: #00000000;
        border: 2px solid #000000;
        margin-left: 5px;
    }

    input[type="text"] {
        font-family: "Ubuntu";
        margin: 0;
        flex: 1;
        height: 35px;
        box-sizing: border-box;
        vertical-align: middle;
        border-radius: 4px;
        transition: all 0.25s;
    }

    input[type="text"]:focus {
        background-color: #00000020;
        border-radius: 6px;
    }

    input[type="submit"] {
        vertical-align: middle;
        box-sizing: border-box;
        border-radius: 4px;
    }

    input[type="submit"]:hover {
        border-radius: 8px;
    }

    input[type="submit"]:active {
        background-color: #00000040;
        border: 2px solid #000000;
    }
}

.message {
    display: flex;

    background-color: #00000000;

    justify-content: center;
    align-items: center;

    width: 97%;

    margin: 5px;

    margin-top: 2.5px;

    border: 2px solid #000000;
    box-sizing: border-box;
    border-radius: 4px;

    p {
        margin: 1px;
        padding: 5px;
        font-weight: bold;
    }

    .message-meta {
        font-size: small;
        float: right;
        display: flex;
        flex-direction: column;
    }

    .message-content {
        width: 97%;
        flex: 1;
        padding: 5px;
        word-break: break-all;
        word-wrap: break-word;
    }
}
