@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

$primary-color: #7e7e7e;
$secondary-color: #303030;

/* Browser-Kit / Scrollbar etc. etc. */
::-webkit-scrollbar {
    width: 2px;
}

::-webkit-scrollbar-thumb {
    background-color: darken($primary-color, 5);
    border-radius: 5px;
    filter: drop-shadow(0px 0px 1px $secondary-color);
    transition: all 0.25s;
}

/* Syncia - Alpha Style*/
html {
    font-family: "Ubuntu", sans-serif;
    scroll-behavior: smooth;
    transition: all 0.25s;
}

html,
body {
    margin: 0px;
    padding: 0px;
    background-color: $primary-color;
    color: white;
    transition: all 0.25s;
}

div {
    transition: all 0.25s;
    margin: 0;

    button {
        font-family: "Ubuntu";
        width: 150px;
        height: 35px;
        background-color: darken($primary-color, 10);
        color: white;
        filter: drop-shadow(0px 0px 1px $secondary-color);

        border: none;
        border-radius: 4px;
        transition: all 0.25s;
    }

    button:hover,
    button:active {
        background-color: darken($primary-color, 15);
        filter: drop-shadow(0px 0px 1px $secondary-color);
        border-radius: 4px*2;
    }

    button:active {
        color: darken(white, 15);
        background-color: darken($primary-color, 20);
        filter: drop-shadow(0px 0px 0px $secondary-color);
        transition: all (0.25s/10);
    }
}

#server-bar {
    height: 45px;
    width: 100vw;
    background-color: darken($primary-color, 5);
    filter: drop-shadow(0px 0px 1px $secondary-color);

    position: fixed;

    button {
        margin: 5px;
    }
}

#side-bar {
    top: 50px;
    position: fixed;
    right: 0;
    height: 100%;
    display: flex;
    flex-direction: column;

    .category {

        button,
        button:hover,
        button:active {
            height: 15px;
            margin: 2.5px 0px 2.5px 2.5px;
            border-radius: 4px;
            background-color: darken($primary-color, 15);
        }
    }

    * {
        width: 160px;

        margin: 2.5px 0px 2.5px 2.5px;
        border-right: none;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }
}

#profile {
    width: 158px;
    bottom: 50px;
    float: right;
    position: fixed;
    right: 0;
    background-color: darken($primary-color, 10);
    filter: drop-shadow(0px 0px 1px $secondary-color);
    margin: 2.5px 0px 2.5px 2.5px;
    height: 200px;
    text-align: center;

    display: flex;
    flex-direction: column;

    border-right: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;

    #username {
        text-align: center;
    }

    #avatar {
        border-radius: 50%;
        height: 75px;
        width: 75px;
        margin-top: -5px;
        margin-bottom: 5px;
    }

    button {
        display: block;

        margin-top: 5px;
        margin-bottom: 5px;

        width: 140px;
        height: 25px;
        text-align: center;

        background-color: darken($primary-color, 15);

        margin-left: 10px;
        margin-right: 10px;
        border-radius: 4px;
    }
}

#message-bar {
    margin: 0;
    flex: 0;
    position: fixed;
    z-index: 2;
    bottom: 0;
    height: 40px;
    width: 100%;
    box-sizing: border-box;

    align-items: center;

    display: flex;

    input {
        height: 100%;
        color: white;
        padding-left: 10px;
        background-color: darken($primary-color, 5);
        filter: drop-shadow(0px 0px 1px $secondary-color);
        vertical-align: middle;

        border: none;
    }

    input[type="text"] {
        padding-top: 0px;
        flex: 1;
        transition: all 0.25s;
    }

    input[type="text"]:focus,
    input[type="submit"]:hover {
        background-color: darken($primary-color, 10);
        filter: drop-shadow(0px 0px 1px $secondary-color);
    }

    input[type="submit"] {
        padding: 5px;
    }

    input[type="submit"]:active {
        background-color: darken($primary-color, 15);
        filter: drop-shadow(0px 0px 0px $secondary-color);
    }
}

#chat {
    top: 45px;
    bottom: 25px;
    right: 167.5px;

    position: fixed;
    overflow: scroll;

    .message {
        display: flex;

        background-color: darken($primary-color, 5);
        filter: drop-shadow(0px 0px 1px $secondary-color);

        justify-content: center;
        align-items: center;
        margin-top: 10px;
        margin-bottom: 10px;
        margin-right: 10px;

        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;

        p {
            margin: 1px;
            padding: 5px;
        }

        .message-meta {
            font-size: small;
            float: right;
            display: flex;
            flex-direction: column;
            font-weight: bold;
        }

        .message-content {
            width: 97%;
            flex: 1;
            padding: 5px;

            word-wrap: normal;
        }
    }
}