@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

$primary-color: lighten(#7e7e7e, 20);
$secondary-color: lighten(#303030, 20);


html {
    margin: 0;
    padding: 0;

    display: flex;

    font-family: Ubuntu;
}

body {
    margin: 0;
    padding: 0;

    width: 100vw;

    flex-direction: column;

    filter: drop-shadow(0px 0px 10px $secondary-color);

    header,
    footer {
        width: 100vw;
        position: fixed;
        text-align: center;
    }

    header {
        top: 0;
        background-color: $primary-color;
        color: white;
    }

    footer {
        bottom: 0;

        div {
            background-color: $secondary-color;

            #copyright {
                color: white;
            }

            #impressum {
                background-color: lighten($secondary-color, 20);
            }
        }
    }

}