//Alpha-Palette
$dep-primary-color: lighten(#7e7e7e, 20);
$dep-secondary-color: lighten(#303030, 20);

//Beta-Palette
$primary-color: #C0C0C0;
$secondary-color: #7E7E7E;

$invprim-color: #3f3f3f;
$invseco-color: #818181;

$syncianredish: #FF1725;
$smoothred: #FF515C;
$synciancopper: #FF4317;
$smoothcopper: #FF7251;
$syncianorange: #FF7D17;
$smoothorange: #FF9E51;
$syncianlime: #99ff17;
$syncianaqua: #17fff1;
$syncianviolet: #7d17ff;
$syncianlilac: #F117FF;
$syncianmagent: #FF175F;