@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");
html {
  font-family: 'Ubuntu', sans-serif;
}

html,
body {
  margin: 0px;
  padding: 0px;
  height: 100%;
  width: 100%;
  overflow: hidden;
  display: flex;
}

div {
  flex: 1;
}

div#server-bar {
  flex: 0;
  position: fixed;
  z-index: 2;
  display: inline-block;
  height: 40px;
  width: 100vw;
  padding: 2.5px;
  box-sizing: border-box;
  filter: drop-shadow(0px 0px 0px #BBBAFF7F);
}

div#server-bar button {
  font-family: 'Ubuntu';
  width: 150px;
  height: 35px;
  background-color: #00000000;
  filter: drop-shadow(4px 4px 2px #BBBAFF7F);
  border: 2px solid #000000;
  box-sizing: border-box;
  border-radius: 4px;
  transition: all 0.25s;
}

div#server-bar button:hover {
  filter: drop-shadow(4px 4px 2px #BBBAFF7F);
  background-color: #00000020;
  border: 2px solid #000000;
  border-radius: 8px;
  transition: all 0.25s;
}

div#server-bar button:active {
  background-color: #00000040;
  color: #666666;
  border: 2px solid #000000;
  border-radius: 16px;
  transition: all 0.05s;
  filter: drop-shadow(0px 0px 0px #BBBAFF7F);
}

div#side-bar {
  z-index: 0;
  display: block;
  position: fixed;
  right: 0;
  top: 40px;
  height: 100vh;
  width: 40px;
  padding: 2.5px 0px 2.5px 2.5px;
  box-sizing: border-box;
  filter: drop-shadow(0px 0px 0px #BBBAFF7F);
}

div#side-bar button {
  font-family: 'Ubuntu';
  width: 40px;
  height: 40px;
  background-color: #00000000;
  filter: drop-shadow(4px 4px 2px #BBBAFF7F);
  display: block;
  margin: 5px 0px;
  border: 2px solid #000000;
  border-right-style: none;
  box-sizing: border-box;
  border-radius: 0;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  transition: all 0.25s;
}

div#side-bar button:hover {
  filter: drop-shadow(4px 4px 2px #BBBAFF7F);
  background-color: #00000020;
  border: 2px solid #000000;
  border-right-style: none;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  transition: all 0.25s;
}

div#side-bar button:active {
  background-color: #00000040;
  color: #666666;
  border: 2px solid #000000;
  border-right-style: none;
  border-top-left-radius: 16px;
  border-bottom-left-radius: 16px;
  transition: all 0.05s;
  filter: drop-shadow(0px 0px 0px #BBBAFF7F);
}

div#message-bar {
  margin: 0;
  flex: 0;
  position: fixed;
  z-index: 2;
  bottom: 0;
  height: 40px;
  width: 100vw;
  padding: 2.5px;
  box-sizing: border-box;
  filter: drop-shadow(0px 0px 0px #BBBAFF7F);
  overflow: hidden;
}

div#message-bar input[type=text] {
  font-family: 'Ubuntu';
  margin: 0;
  padding-left: 10px;
  width: 91vw;
  height: 35px;
  background-color: #00000000;
  filter: drop-shadow(4px 4px 2px #BBBAFF7F);
  box-sizing: border-box;
  vertical-align: middle;
  justify-content: center;
  align-items: center;
  border: 2px solid #000000;
  box-sizing: border-box;
  border-radius: 4px;
  transition: all 0.25s;
}

div#message-bar input[type=text]:focus {
  filter: drop-shadow(4px 4px 2px #BBBAFF7F);
  background-color: #00000020;
  border: 2px solid #000000FF;
  border-radius: 8px;
  transition: all 0.25s;
}

div#message-bar input[type=submit] {
  font-family: 'Ubuntu';
  margin: 0;
  padding: 0;
  width: 35px;
  height: 35px;
  background-color: #00000000;
  filter: drop-shadow(4px 4px 2px #BBBAFF7F);
  vertical-align: middle;
  justify-content: center;
  align-items: center;
  border: 2px solid #000000;
  box-sizing: border-box;
  border-radius: 4px;
  transition: all 0.25s;
}

div#message-bar input[type=submit]:hover {
  filter: drop-shadow(4px 4px 2px #BBBAFF7F);
  background-color: #00000020;
  border: 2px solid #000000;
  border-radius: 8px;
  transition: all 0.25s;
}

div#message-bar input[type=submit]:active {
  filter: drop-shadow(0px 0px 0px #BBBAFF7F);
  background-color: #00000040;
  border: 2px solid #000000;
  border-radius: 16px;
  transition: all 0.05s;
}

div#call video {
  position: absolute;
  border: 3px solid #000000;
  box-sizing: border-box;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translate(-50%, -50%);
  filter: drop-shadow(4px 4px 6px #BBBAFF7F);
}
/*# sourceMappingURL=index.css.map */