@import "../vars.css";

footer {
  position: fixed;
  bottom: 0;
  text-align: center;
  color: var(--color-secondary);
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: var(--color-tertiary);
  width: 100%;
}