footer {
  position: fixed;
  bottom: 0;
  @media (max-height: 872px) {
    position: relative;
  }
  text-align: center;
  color: var(--color-secondary);
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: var(--color-primary);
  width: 100%;
}