header
{
    p
    {
        padding: 1vh;
        color: var(--color-secondary);
    }
    display: flex;
    color: var(--color-secondary);
    padding: 1em;
    img
    {
        height: 40px;
        width: auto;
        cursor: pointer;
    }
}