header
{
    display: flex;
    color: var(--color-secondary);
    padding: 1em;
    background-color: var(--color-primary);
    img
    {
        width: 40px;
        height: auto;
    }
    div
    {
        *
        {
            margin-right: 1vh;
        }
    }
}