header
{
    display: flex;
    color: var(--color-secondary);
    padding: 1em;
    background-color: var(--color-primary);
    img
    {
        width: 2.5vw;
    }
    #breaker
    {
        flex-grow: 1;
        display: flex;

        align-items: center;
        justify-content: center;
    }
    div
    {
        *
        {
            margin-right: 1vh;
        }
    }
}