.message {
  display: flex;
  flex-direction: column;
  vertical-align: middle;
  background-color: var(--color-secondary);
  border-radius: 0.5em;
  margin-bottom: 1em;
  width: 50vw;

  #meta {
    align-items: center;
    display: flex;
    vertical-align: middle;

    #author {
      font-size: 1.2em;
      padding-right: 1em;
    }

    #breaker {
      flex-grow: 1;
    }

    #date {
      justify-content: center;
    }

    p {
      padding-bottom: 0.5em;
      padding-top: 0.5em;
    }
  }
}

.message[name="a"]
{
    box-shadow: 3px 5px 10px var(--color-nouaveu-blurple);
}

.message[name="b"]
{
    box-shadow: -3px 5px 10px var(--color-lemonade);
}