.message {
  display: flex;
  flex-direction: column;
  vertical-align: middle;
  background-color: var(--color-secondary);
  width: 50vw;

  margin: 0.2em;

  #meta {
    align-items: center;
    display: flex;
    vertical-align: middle;

    #author {
      font-size: 1.2em;
      padding-right: 1em;
    }

    #breaker {
      flex-grow: 1;
    }

    #date {
      justify-content: center;
    }

    p {
      padding-bottom: 0.5em;
      padding-top: 0.5em;
    }
  }
}

.message:nth-of-type(1)
{
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
}

.message[name="a"]
{
  border-bottom: 10px solid var(--color-nouaveu-blurple);
  border-right: 15px solid var(--color-lemonade);
}

.message[name="b"]
{
  border-bottom: 10px solid var(--color-lemonade);
  border-right: 15px solid var(--color-nouaveu-blurple);
}

.message[name="you"]
{
  border-bottom: 10px solid var(--color-lemonade);
  border-right: 15px solid var(--color-primary);
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
}