@import "reset.css";
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

@import url("includes/footer.css");
@import url("includes/header.css");
@import url("includes/message.css");

html {
  min-height: 100%;
}

:root {
  --color-primary: #65655e;
  --color-secondary: white;
  --color-nouaveu-blurple: #7d80da;
  --color-lemonade: #f7cb15;
  margin: 0;
  background: linear-gradient(107.87deg, #ffecf7 12.19%, rgba(255, 219, 207, 0.880208) 38.63%, rgba(250, 198, 229, 0.4) 83.69%) 400% 400% no-repeat;
  background-attachment: fixed;
  animation: background 10s infinite linear;
  font-family: 'Ubuntu', sans-serif;
  display: flex;
  flex-direction: column;
  padding: 0px;
  margin: 0px;
}

@keyframes background {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

a {
  color: var(--color-secondary);
  text-decoration: none;
}

button,
input {
  transition: border-radius 0.1s ease, box-shadow 0.1s linear;
  background-color: var(--color-secondary);
  border: none;
  padding-bottom: 0.5em;
  padding-top: 0.5em;
  padding-right: 1em;
  padding-left: 1em;
  cursor: pointer;
  border-radius: 3px;
}

input {
  box-shadow: -3px -3px 2px var(--color-lemonade);
  border-bottom: solid 2px var(--color-nouaveu-blurple);
  border-right: solid 3px var(--color-nouaveu-blurple);
  max-width: 85%;
}

button:hover,
button:active,
input:hover,
input:active,
input:focus {
  box-shadow: 0 3px 10px var(--color-nouaveu-blurple);
  border-radius: 7px;
}

.breaker {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

#decor {
  position: relative;

  width: 100%;
  display: flex;

  @media (max-width: 800px) {
    flex-direction: column;
  }
  align-items: center;
  justify-content: center;
  margin-top: 10rem;

  img {
    max-height: 50vh;
    max-width: 70vw;
    filter: drop-shadow(0 3px 10px var(--color-nouaveu-blurple));
    transition: filter 0.5s ease-in-out;
  }

  img:hover {
    filter: drop-shadow(0 5px 15px var(--color-nouaveu-blurple));
  }

  img:nth-of-type(2) {
    transform: rotate(200deg);
    filter: drop-shadow(0 3px 10px var(--color-lemonade));
  }

  img:nth-of-type(2):hover {
    filter: drop-shadow(0 5px 15px var(--color-lemonade));
  }

}

#this-is {
  display: flex;
  padding-top: 10vh;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  div {
    padding: 1em;
  }
}