@import "reset.css";
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Space+Grotesk:wght@400;500;700&display=swap');
@import url("includes/footer.css");
@import url("includes/header.css");
@import url("includes/message.css");
@import url("includes/containers.css");

html {
  height: 100%;
  width: 100%;
}

@keyframes background {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  background: var(--color-primary-darker);
}

:root {
  height: 100%;
  --color-primary: #3c91e6;
  --color-primary-darker: #092948;
  --color-secondary: #ffebf2;
  --color-tertiary: #d5265b;
  --color-tertiary-darker: #1e1e1e;
  --color-lemonade: #ff7514;
  font-family: 'Space Grotesk', sans-serif;
}

a {
  color: var(--color-secondary);
  text-decoration: none;
}

.email-link {
  text-decoration: underline;
}

button,
input {
  transition: border-radius 0.1s ease, box-shadow 0.1s linear;
  background-color: var(--color-secondary);
  border: none;
  padding-bottom: 0.5em;
  padding-top: 0.5em;
  padding-right: 1em;
  padding-left: 1em;
  cursor: pointer;
  border-radius: 3px;
}

input {
  box-shadow: -1px -1px 2px var(--color-tertiary);
  border-bottom: solid 2px var(--color-tertiary);
  border-right: solid 3px var(--color-tertiary);
  max-width: 85%;
  border-radius: 7px;
  outline: none;
}

button:hover,
button:active,
input:hover,
input:active,
input:focus {
  box-shadow: 0 3px 10px var(--color-tertiary);
  border-radius: 7px;
}

.breaker {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

#this-is {
  display: flex;

  @media (max-height: 800px) {
    padding-bottom: 10vh;
  }
  align-items: center;
  justify-content: center;
  flex-direction: column;

  div {
    padding: 1em;
  }
}

#click-it
{
  @media (max-width: 800px) {
    display: none;
  }
  grid-column: 1/4;
}

@media (max-width: 800px) {
  .desktop-only {
    display: none;
  }
}